@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:hover{
    cursor: pointer;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #222222;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.navbar {
    padding-top: 28px;
    height: 540px;
    max-width: 1440px;
    background-image: url('./Image/VersusImage.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-right-item {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-right-item .btn {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: transparent;
    color: #999999;
    border: none;
    outline: none;
}

.navBtn {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #00D6B4;
    background: transparent;
    border: none;
    outline: none;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 452px;
    margin: auto;
}

.nav-card h1 {
    width: 465px;
    height: 106px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}

.nav-card button {
    margin-top: 29px;
    background: transparent;
    border: 1px solid #00D6B4;
    border-radius: 3px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #00D6B4;
    padding: 10px 26px;
}

.text-card {
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 33px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgCard {
    margin-bottom: 22px;
    height: 225px;
    width: 300px;
}

.imgCard img {
    height: inherit;
    width: inherit;
    object-fit: cover;
}

footer {
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #999999;
    margin-top: 10px;
    margin-bottom: 37px;
}